/**
---------------------------------------------------------------
 * Table of Contents
 * 
 * 1.0 - Reset & General
 * 2.0 - Header
 * 3.0 - Main Content
 * 4.0 - Footer
 * 5.0 - Media Queries
 * 		1220 pixels (max)
 * 		1000 pixels (max)
 * 		788 pixels (max)
 *		570 pixels (max)
 *		380 pixels (max)
 *
---------------------------------------------------------------
**/
/**
---------------------------------------------------------------
 * 1.0 - Reset & General
---------------------------------------------------------------
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:focus {
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  width: 100%;
}

.clear:after, .content-container:after, header nav ul.main-nav:after, main.home .home-bottom:after {
  display: block;
  clear: both;
  content: "";
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  -webkit-text-size-adjust: 100%;
  background-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  color: #049bb3;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.2;
}

p {
  padding-bottom: 20px;
  line-height: 1.5;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

a {
  color: #ffffff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a:hover {
  color: #049bb3;
}
a.btn {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #049bb3;
  color: #fff;
  padding: 7px 30px;
  cursor: pointer;
}
a.btn:hover {
  background-color: #01879d;
}

header,
nav,
main,
section,
article,
aside,
footer {
  display: block;
}

/**
---------------------------------------------------------------
 * 2.0 - Header
---------------------------------------------------------------
**/
header {
  background-color: #0e0e0e;
  border-bottom: 2px solid #049bb3;
}
header .logo {
  float: left;
  margin: 10px 0 15px;
}
header .logo a {
  display: block;
  width: 186px;
  height: 142px;
  background-image: url(../images/compressed/logo-desktop.png);
  background-repeat: no-repeat;
  background-position: left top;
}
header nav {
  float: right;
  margin-top: 136px;
  margin-bottom: 16px;
}
header nav .mobile-menu-btn {
  display: none;
}
header nav ul.main-nav {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
}
header nav ul.main-nav li {
  float: left;
  padding-right: 30px;
}
header nav ul.main-nav li a {
  text-decoration: none;
  color: #ffffff;
}
header nav ul.main-nav li a:hover {
  color: #049bb3;
}
header nav ul.main-nav li.current a {
  color: #049bb3;
}
header nav ul.main-nav li:last-child {
  padding-right: 0;
}

/**
---------------------------------------------------------------
 * 3.0 - Main Content
---------------------------------------------------------------
**/
main {
  background-color: #1a1a1a;
}
main.home {
  padding-bottom: 60px;
}
main.home .main-banner {
  margin-bottom: 60px;
}
main.home .main-banner img {
  display: block;
}
main.home .home-bottom .intro {
  float: right;
  width: 430px;
}
main.home .home-bottom .intro h1 {
  margin-bottom: 30px;
}
main.home .home-bottom .intro .learn-more {
  margin-top: 20px;
}
main.home .home-bottom .intro .learn-more a.btn {
  font-family: "Montserrat", sans-serif;
}
main.home .home-bottom .image {
  float: left;
  width: 711px;
}

/**
---------------------------------------------------------------
 * 4.0 - Footer
---------------------------------------------------------------
**/
footer {
  background-color: #0e0e0e;
  border-top: 2px solid #049bb3;
  border-bottom: 2px solid #049bb3;
  padding: 40px 0;
  margin-bottom: 20px;
}
footer .copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
footer .copyright span {
  display: block;
  padding-top: 10px;
}

/**

---------------------------------------------------------------
 * 5.0 - Media Queries
 *
 * 1220 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 1220px) {
  .content-container {
    max-width: 980px;
  }

  main.home .home-bottom .intro {
    width: 400px;
  }
  main.home .home-bottom .image {
    width: 525px;
  }
}
/**
---------------------------------------------------------------
 * 1000 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 28px;
  }

  .content-container {
    max-width: 768px;
  }

  header {
    height: 154px;
  }
  header .logo {
    margin: 5px 0;
  }
  header nav {
    margin: 60px 0 0;
  }
  header nav .mobile-menu-btn {
    display: block;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  header nav .mobile-menu-btn span {
    display: block;
    float: left;
    line-height: 42px;
    font-size: 26px;
    padding-right: 15px;
  }
  header nav .mobile-menu-btn .fa {
    font-size: 42px;
    color: #049bb3;
  }
  header nav ul.main-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 154px;
    left: 0;
    z-index: 2;
    background-color: #0e0e0e;
  }
  header nav ul.main-nav li {
    float: none;
    display: block;
    text-align: center;
    padding-right: 0;
    border-bottom: 1px solid #2b2b2b;
  }
  header nav ul.main-nav li a {
    display: block;
    padding: 12px 0;
  }
  header nav ul.main-nav.show {
    display: block;
  }

  main.home {
    padding-bottom: 40px;
  }
  main.home .main-banner {
    margin-bottom: 40px;
  }
  main.home .home-bottom .intro,
  main.home .home-bottom .image {
    float: none;
    width: 100%;
  }
  main.home .home-bottom .intro h1 {
    margin-bottom: 20px;
  }
  main.home .home-bottom .intro .learn-more {
    margin-top: 0;
    margin-bottom: 40px;
  }
}
/**
---------------------------------------------------------------
 * 788 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 788px) {
  .content-container {
    max-width: 550px;
  }
}
/**
---------------------------------------------------------------
 * 570 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 570px) {
  body {
    font-size: 15px;
  }

  h1 {
    font-size: 22px;
  }

  .content-container {
    max-width: 360px;
  }

  header {
    height: 102px;
  }
  header .logo a {
    background-image: url(../images/compressed/logo-mobile.png);
    width: 134px;
    height: 90px;
  }
  header nav {
    margin-top: 40px;
  }
  header nav .mobile-menu-btn span {
    font-size: 20px;
    line-height: 32px;
    padding-right: 10px;
  }
  header nav .mobile-menu-btn .fa {
    font-size: 32px;
  }
  header nav ul.main-nav {
    top: 102px;
  }

  main.home {
    padding-bottom: 20px;
  }
  main.home .main-banner {
    margin-bottom: 20px;
  }
  main.home .home-bottom .intro h1 {
    margin-bottom: 10px;
  }
  main.home .home-bottom .intro .learn-more {
    margin-bottom: 20px;
  }
}
/**
---------------------------------------------------------------
 * 380 pixels (max)
---------------------------------------------------------------
**/
@media screen and (max-width: 380px) {
  .content-container {
    min-width: 300px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

/*# sourceMappingURL=core.css.map */
