footer {
	background-color:#0e0e0e;
	border-top:2px solid $color-one;
	border-bottom:2px solid $color-one;
	padding:40px 0;
	margin-bottom:20px;

	.copyright {
		font-family: $font-two;
		font-size:13px;
		line-height:1;
		text-align:center;
		text-transform:uppercase;

		span {
			display:block;
			padding-top:10px;
		}
	}
}