header {
	background-color:#0e0e0e;
	border-bottom:2px solid $color-one;

	.logo {
		float:left;
		margin:10px 0 15px;

		a {
			display:block;
			width:186px;
			height:142px;
			background-image:url(../images/compressed/logo-desktop.png);
			background-repeat:no-repeat;
			background-position:left top;
		}
	}

	nav {
		float:right;
		margin-top: 136px;
    	margin-bottom: 16px;

    	.mobile-menu-btn {
    		display:none;
    	}

		ul.main-nav {
			list-style-type:none;
			font-family: $font-two;
			font-size:15px;
			line-height:1;
			text-transform:uppercase;
			@extend .clear;

			li {
				float:left;
				padding-right:30px;

				a {
					text-decoration:none;
					color:#ffffff;

					&:hover {
						color:$color-one;
					}
				}

				&.current {

					a {
						color:$color-one;
					}
				}

				&:last-child {
					padding-right:0;
				}
			}
		}
	}
}