main {
	background-color:#1a1a1a;

	&.home {
		padding-bottom:60px;

		.main-banner {
			margin-bottom:60px;

			img {
				display:block;
			}
		}

		.home-bottom {
			@extend .clear;

			.intro {
				float:right;
				width:430px;

				h1 {
					text-transform:none;
					margin-bottom:30px;
				}

				.learn-more {
					margin-top:20px;

					a.btn {
						font-family:$font-two;
					}
				}
			}

			.image {
				float:left;
				width:711px;
			}
		}
	}

	&.about {
		padding:60px 0;

		.about-top {
			margin-bottom:40px;
			@extend .clear;

			.intro {
				float:right;
				width:430px;

				h1 {
					margin-bottom:25px;
				}

				.learn-more {
					margin-top:20px;
				}
			}

			.image {
				float:left;
				width:711px;
			}
		}

		.about-bottom {
			@extend .clear;

			.left {
				float:left;
			}

			.right {
				float:right;
			}
		}
	}

	&.services {
		padding:60px 0;

		h1 {
			text-align:center;
			margin-bottom:50px;
		}

		ul.services-list {
			list-style-type:none;

			li {
				margin-bottom:60px;
				@extend .clear;

				&:last-child {
					margin-bottom:0;
				}

				.icon {
					float:left;
					border:2px solid $color-one;
					width:130px;
					height:130px;
					text-align:center;
					@include border-radius(50%);

					.fa {
						font-size:80px;
						line-height:1;
						color:$color-one;
						margin-top:20px;
					}
				}

				.service {
					float:right;
					width:990px;
					padding-top:10px;

					h2 {
						font-weight:normal;
						font-size:24px;
						font-family: $font-two;
						margin-bottom:10px;
						color:$color-one;
					}

					.description {
						line-height:1.5;
					}
				}
			}
		}
	}

	&.inspiration {
		padding:60px 0;

		h1 {
			text-align:center;
			margin-bottom:30px;
		}

		.intro {
			margin-bottom:55px;
		}

		ul.top-inspiration {
			list-style-type:none;
			@extend .clear;

			li {
				width:50%;
				float:left;
				margin-bottom:55px;
				@extend .clear;

				&:nth-child(odd) {
					clear:both;
				}

				.image {
					float:left;
					width:310px;
				}

				.description {
					width:290px;
					float:right;
					padding:0 20px;

					h2 {
						font-size:24px;
						font-family: $font-two;
						font-weight:normal;
						color:$color-one;
						margin-bottom:10px;
					}

					p {
						font-size:15px;
						padding-bottom:0;
					}
				}
			}
		}

		.bottom-inspiration {
			@extend .clear;	

			.description,
			.image {
				float:right;
			}

			.description {
				width:290px;
				padding:0 20px;

				h2 {
					font-size: 24px;
					font-family: $font-two;
					font-weight: normal;
					color: $color-one;
					margin-bottom: 10px;
				}

				p {
					font-size:15px;
				}
			}

			.image {

				&.one {
					width:405px;
					margin-left:38px;
				}

				&.two {
					width:467px;
				}
			}
		}
	}

	&.photo-gallery {
		padding:60px 0;

		h1 {
			text-align:center;
			margin-bottom:30px;
		}

		.intro {
			margin-bottom:25px;
			text-align:center;

			span {
				display:block;
			}
		}

		.pagination-controls {
			text-align:center;
			margin-bottom:25px;
			@include no-user-select();

			.prev,
			.next {
				display:inline-block;
				font-size:54px;
				line-height:1;
				color:$color-one;
				padding:0 5px;
				margin:0 10px;
				cursor:pointer;

				&.inactive {
					opacity:0.2;
					cursor:not-allowed;
				}
			}
		}

		.gallery-page {
			display:none;

			&.current {
				display:block;
			}

			ul.photos {
				list-style-type:none;
				@extend .clear;

				li {
					float:left;
					width:25%;
					text-align:center;
					margin-bottom:20px;

					img {
						border:1px solid #8d8d8d;
						@include transition(all, .3s);

						&:hover {
							border-color:$color-one;
						}
					}
				}
			}
		}
	}

	&.contact {
		padding:60px 0 80px;

		h1 {
			text-align:center;
			margin-bottom:60px;
		}

		.contact-right {
			float:right;
			width:60%;

			.contact-form {

				input.frm-input, 
				textarea {
					border:0;
					font-family: $font-one;
					font-size:14px;
					color:#000000;
					border:1px solid #ffffff;

					&.validation-error {
						border-color:#f00;
					}

					&::-webkit-input-placeholder {
						color: #000000;
					}
					&:-moz-placeholder {
						color: #000000;
						opacity: 1;
					}
					&::-moz-placeholder {
						color: #000000;
						opacity: 1;
					}
					&:-ms-input-placeholder {
						color: #000000;
					}
				}

				input.frm-input {
					height:40px;
					padding:0 10px;
				}

				textarea {
					display:block;
					width:100%;
					height:170px;
					resize:none;
					padding:10px;
					margin-bottom:15px;
				}

				button {
					display:block;
					background-color:$color-one;
					border:0;
					width:100%;
					font-family: $font-two;
					font-size:20px;
					padding:10px 0;
					color:#ffffff;
					text-transform:uppercase;
					cursor:pointer;
					@include transition(all, .3s);

					&:hover {
						opacity:0.9;
					}
				}
			}

			.top-inputs {
				margin-bottom:15px;
				@extend .clear;

				input.frm-input {
					width:48%;

					&:first-child {
						float:left;
					}

					&:last-child {
						float:right;
					}
				}
			}
		}

		.contact-left {
			float:left;

			a {
				color:#ffffff;

				&:hover {
					color:$color-one;
				}
			}

			ul.contact-info {
				list-style-type:none;
				font-size:17px;

				li {
					padding:0 0 30px 60px;
					position:relative;

					span {
						display:block;
						line-height:1.5;
					}

					&:before {
						display:block;
						position:absolute;
						top:0;
						left:0;
						line-height:1em;
						color:$color-one;
						font-family: FontAwesome;
					}

					&:first-child {
						line-height:55px;

						&:before {
							content:'\f041';
							font-size: 55px;
						}
					}

					&:last-child {
						padding-bottom:0;
					}

					&:nth-child(2) {
						line-height:46px;

						&:before {
							content:'\f095';
							font-size: 46px;
						}
					}

					&:nth-child(3) {
						line-height:37px;

						&:before {
							content:'\f0e0';
							font-size: 37px;
						}
					}

					&:nth-child(4) {
						line-height:40px;

						&:before {
							content:'\f082';
							font-size:40px;
						}
					}
				}
			}
		}
	}
}