@media screen and (max-width: 1000px) {

	.content-container {
		max-width:768px;
	}

	.header {

		nav {

			.mobile-menu-btn {
				display:block;
				float:right;

				ul.main-nav {
					
				}
			}
		}
	}

}