@media screen and (max-width: 1220px) {

	.content-container {
		max-width:980px;
	}

	main {

		&.home {

			.home-bottom {

				.intro {
					width:400px;
				}

				.image {
					width:525px;
				}
			}
		}
	}

}