@media screen and (max-width: 1220px) {

	.content-container {
		max-width:980px;
	}

	main {

		&.home {

			.home-bottom {

				.intro {
					width:400px;
				}

				.image {
					width:525px;
				}
			}
		}

		&.about {

			.about-top {

				.image {
					width:550px;
				}

				.intro {
					width:390px;

					h1 {
						margin-bottom:10px;
					}

					.learn-more {
						margin-top:0;
					}
				}
			}

			.about-bottom {

				.left {
					width:321px;
				}

				.right {
					width:627px;
				}
			}
		}

		&.services {

			ul.services-list {

				li {

					.service {
						width:815px;
					}
				}
			}
		}

		&.inspiration {

			ul.top-inspiration {

				li {

					.image {
						float:none;
						margin:0 auto;
						padding-bottom:20px;
					}

					.description {
						width:100%;
						margin:0 auto;
						text-align:center;
					}
				}
			}

			.bottom-inspiration {

				.description {
					width:100%;
					float:none;
					padding:0;
				}

				.image {

					&.one {
						margin-left:0;
						width:auto;
						float:right;
					}

					&.two {
						width:auto;
						float:left;
					}
				}
			}
		}
	}

}